[user]
	name = Tony Ford
	email = tony4d@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
[merge]
	tool = p4merge
[mergetool]
	keepBackup = false
[mergetool "p4merge"]
	trustExitCode = false
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
[alias]
	co = checkout
	ci = commit
	s = status
	b = branch
[diff]
	tool = p4merge
[difftool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[color]
	ui = true
	diff = true
	grep = true
	branch = true
	showbranch = true
	status = true
[color "status"]
    header = normal dim
    added = yellow
    untracked = magenta
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = red