[mysqld]
max_connections = 151
interactive_timeout = 900
wait_timeout = 900
explicit-defaults-for-timestamp
skip-name-resolve
skip-show-database
local-infile = 0
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

# query cache
query_cache_type = 0
query_cache_size = 0

[mysqldump]
quick
max_allowed_packet = 1024M
